*.pyc
*.so
.DS_Store
.ycm_extra_conf.py
/.python-version
/MANIFEST
/user.bazelrc
bazel-*
build/
compile_commands.json
dist/
doxygen_cxx
dreal.egg-info/
logs/
/soplex
/install/
/.venv
/benchmark/*.json
/benchmark/*.csv
/benchmark/**/*.smt2
/soplex*
/.vscode
/benchmark/lp*/
/benchmark/**/*.mps
/benchmark/**/*.mps.compressed
*.runfiles/